@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

a {
  --bs-link-color: #0044da;
  text-decoration: none;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.gray-bg-2 {
  background-color: #f2f2f2;
}

.error {
  color: orangered;
}

.success {
  color: green;
}

.page {
  padding-top: 65px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }
}

.scroll-top {
  width: 45px;
  height: 45px;
  background: #37c2cc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.scroll-top:hover {
  color: #fff;
  background: rgba(55, 194, 204, 0.8);
}

@keyframes animation1 {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }

  50% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }

  50% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .spinner .spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: spinner-linspin 1568.23529647ms linear infinite;
  -moz-animation: spinner-linspin 1568.23529647ms linear infinite;
  -o-animation: spinner-linspin 1568.23529647ms linear infinite;
  animation: spinner-linspin 1568.23529647ms linear infinite;
}

.preloader .loader .spinner .spinner-container .spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -o-animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #37c2cc #37c2cc rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-width: 6px;
}

.preloader .loader .spinner-left .spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: rgba(0, 0, 0, 0.1);
  -webkit-animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -o-animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .spinner-right .spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: rgba(0, 0, 0, 0.1);
  -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -moz-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }

  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }

  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }

  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }

  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }

  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }

  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }

  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }

  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }

  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }

  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }

  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }

  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }

  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }

  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

/*=========================== 
	NAVBAR CSS 
============================= */
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.nav-link {
  --bs-navbar-nav-link-padding-x: 1rem;
  --bs-nav-link-color: #000;
}

.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  --bs-navbar-active-color: #0044da;
}

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.sticky .navbar .navbar-toggler .toggler-icon {
  background: rgba(0, 0, 0, 0.9);
}

.navbar {
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar {
    padding: 15px 0;
  }
}

.navbar-brand {
  padding: 0;
  display: flex;
}

.navbar-brand img {
  max-width: 180px;
}

.navbar-toggler {
  padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-toggler {
    position: absolute;
    right: 0;
    top: 22px;
  }
}

.navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item {
    padding: 0px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item:first-child {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item:last-child {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: inline-block;
    padding: 6px 0px;
    color: rgba(0, 0, 0, 0.9);
  }
}

@media (max-width: 767px) {
  .header-btn {
    display: none;
  }
}

@media only screen and (min-width: 550px) and (max-width: 767px) {
  .header-btn {
    display: flex;
  }
}

/* ====================
		HERO CSS
======================= */
.hero-section {
  position: relative;
  overflow: hidden;
  height: 780px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    180deg,
    #c2fbff 0%,
    rgba(255, 255, 255, 0) 93.47%
  );
  z-index: 1;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section {
    height: 650px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section {
    height: 640px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .hero-section {
    height: auto;
    padding: 100px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-content {
    padding-top: 50px;
  }
}

.hero-section .hero-content h1 {
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content h1 {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 45px;
  }
}

.hero-section .hero-content p {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

@media only screen and (min-width: 1400px),
  only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-content p {
    padding-right: 115px;
  }
}

.hero-section .hero-image {
  padding-top: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-image img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .hero-section .hero-image img {
    max-width: 100%;
    margin: auto;
  }
}

/* ===============================
    FEATURE SECTION ONE CSS
================================== */
.single-feature {
  margin-bottom: 65px;
}

@media only screen and (min-width: 1400px) {
  .single-feature {
    padding-right: 65px;
  }
}

.single-feature:hover .feature-icon::before {
  background: #37c2cc;
}

.single-feature:hover .feature-icon i {
  color: #fff;
}

.single-feature .feature-icon {
  width: 62px;
  height: 66px;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.single-feature .feature-icon img {
  width: 100%;
  height: auto;
}

.single-feature .feature-icon::before,
.single-feature .feature-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transform: skew(-3deg);
  -moz-transform: skew(-3deg);
  -ms-transform: skew(-3deg);
  -o-transform: skew(-3deg);
  transform: skew(-3deg);
}

.single-feature .feature-icon::before {
  background: #d5f1f3;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: -1;
}

.single-feature .feature-icon::after {
  background: transparent;
  border: 2px solid #d5f1f3;
  top: 8px;
  left: -8px;
  z-index: -2;
}

.single-feature .feature-icon i {
  font-size: 40px;
  color: black;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single-feature .feature-content h4 {
  margin-bottom: 15px;
}

/* ========================
    CTA SECTION CSS
=========================== */
.cta-section {
  position: relative;
  z-index: 1;
  padding-top: 220px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .cta-section {
    padding-top: 150px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cta-section {
    padding-top: 130px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .cta-section {
    padding-top: 0px;
  }
}

.cta-section .left-image {
  left: 0px;
  bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .cta-section .left-image {
    position: static;
    width: 100%;
    margin-top: 50px;
  }
}

.cta-section .left-image img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .cta-section .left-image img {
    max-width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width: 1400px) {
  .cta-section .cta-content-wrapper {
    padding-right: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .cta-section .cta-image {
    margin-top: 50px;
  }
}

.cta-section .cta-image img {
  width: 100%;
}

/* ==========================
    FOOTER CSS
============================= */
.footer .footer-widget {
  margin-bottom: 50px;
}

.footer .footer-widget .logo {
  margin-bottom: 30px;
}

.footer .footer-widget .desc {
  margin-bottom: 25px;
}

.footer .footer-widget .social-links {
  display: flex;
  align-items: center;
}

.footer .footer-widget .social-links li a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #e3fdff;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
  font-size: 22px;
}

.footer .footer-widget .social-links li a:hover {
  background: #37c2cc;
  color: #fff;
}

.footer .footer-widget h3,
.footer .footer-widget .single-post-header,
.footer .footer-widget .blog-roll-card-header {
  margin-bottom: 30px;
  margin-top: 10px;
}

.footer .footer-widget .links li a {
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.footer .footer-widget .links li a:hover {
  padding-left: 8px;
  color: #37c2cc;
}

.footer .footer-widget form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer .footer-widget form input {
  width: 100%;
  background: #f1feff;
  border: 1px solid #37c2cc;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.footer .footer-widget form button {
  text-align: right;
}

.widget {
  background: #fff;
  box-shadow: 0px 0px 50px rgba(183, 199, 240, 0.25);
  border-radius: 14px;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.widget form {
  position: relative;
}

.widget form input {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #37c2cc;
  font-size: 14px;
  font-weight: 400;
  height: 55px;
  padding: 0 70px 0 30px;
  width: 100%;
}

.widget form button {
  border: none;
  position: absolute;
  right: 7px;
  top: 6px;
  width: 42px;
  height: 42px;
  z-index: 1;
  color: #fff !important;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #fff;
  border-radius: 5px;
  padding: 0 !important;
  border: none;
  background: #37c2cc;
}

.widget-title {
  font-size: 22px;
  margin-bottom: 30px;
  position: relative;
  font-weight: 600;
  line-height: 28px;
  z-index: 1;
}

.categories-widget .categories-list li {
  display: inline;
}

.categories-widget .categories-list li > a {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  background: 0 0;
  border-radius: 5px;
  border: 1px solid #37c2cc;
  color: rgba(0, 0, 0, 0.7);
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 7px 15px;
  text-transform: capitalize;
}

.categories-widget .categories-list li > a:hover {
  background-color: #37c2cc;
  color: #fff;
  border-color: transparent;
}

/* overrides - TODO: do this in scss */
.btn-primary {
  --bs-btn-bg: #0044da;
  --bs-btn-border-color: #0044da;
}

.text-primary {
  color: #0044da !important;
}

/*# sourceMappingURL=main.css.map */
